.section{
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 40px;
}

.section__img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section__h2::before{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #000;
}

.section__h2{
    font-size: var(--H2-size);
    font-style: roboto medium;
    display: flex;
    align-items: center;
    gap: 20px;
}

.section__btn{
    position: absolute;
    right: 15px;
}